div(width='100%' style="max-width: 598px; border-width: 1px; border-color: #ebebeb; border-style: solid; border-radius: 5px; background-color: #f8f8f8;")
  table(width='100%' style="max-width: 600px;" cellspacing="0" cellpadding="0" align="center")
    tr
      td
        //- hero image
        a(href="#" title='recipe pecan pie')
          img(src=require('Images/hero/hero-2x.png') width='600' height='629' alt='pecan pie' style='width:100%; height: auto; max-width: 600px')
    tr 
      td 
        //- hero buttons
        table(cellspacing="0" cellpadding="0" align='center')
          tr 
            td(style='padding-top: 4px; text-align:center; ')
              a(href='#' 
                style=`display:inline-block; min-width: 128px; padding-left: 10px; padding-right: 10px; margin-bottom: 10px; margin-left: 25px; margin-right: 25px;
                  border-width: 1px; border-style: solid; border-color: #000000; border-radius: 7px; 
                  font-size: 12.5px; color: #000000; text-decoration: none; line-height: 26px; text-align: center;`
              ) Get Recipes
              a(href='#'
                style=`display:inline-block; min-width: 128px; padding-left: 10px; padding-right: 10px; margin-bottom: 10px; margin-left: 25px; margin-right: 25px;
                  border-width: 1px; border-style: solid; border-color: #000000; border-radius: 7px; 
                  font-size: 12.5px; color: #000000; text-decoration: none; line-height: 26px; text-align: center;`
              )
                img(src=require('Images/icon/heart-2x.png') alt='icon heart' width='14' height='14' style='vertical-align: text-bottom; margin-right: 10px')
                | Add to Recipe Box
    //- padding-bottom
    tr
      td(height='10px')