extends ./layout/base.pug

block styles
  style(type="text/css").
    table {
      border-collapse: collapse;
      mso-table-lspace: 0pt; 
      mso-table-rspace: 0pt;
      font-family: Arial, sans-serif;
    }

    td {
      border-collapse: collapse;
      -webkit-text-size-adjust: none
    }

    .list-articles a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      line-height: 19px;
    }

    .footer a,
    .footer p {
      font-size: 11px;
      line-height: 24px;
    }

    .footer-nav td {
      padding-left: 4px;
      padding-right: 4px;
    }

block content
  //- placeholder 
  div(style="font-size: 0px; font-color: #ffffff; opacity: 0; visibility: hidden; width: 0; height: 0; display: none;") TastyCookery
  //-wrapper
  table(width="100%" border="0" cellspacing="0" cellpadding="0")
    //- отступ сверху
    tr
      td(height="24px" width="100%")
    tr
      td(align="center" style='padding-left:10px; padding-right: 10px')
        //- main content (1x вложенность)
        table(border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" 
          style="width: 100%; max-width: 700px;"
        )
          tr
            td(align="center")
              //- hero block (2x вложенность)
              include ../components/hero/hero.pug      
          //- margin снизу у hero block
          tr
            td(height="40px")
          tr
            td
              //- блок в две колонки (2x вложенность)
              table(width="100%" style='max-width: 600px' align="center" cellspacing="0" cellpadding="0")
                tr
                  td(style="text-align: center; word-spacing: 5px;")
                    //- block list artickles (3x вложенность)
                    div(style='display:inline-block; word-spacing: 0; padding-top: 5px; padding-bottom: 5px')
                      include ../components/list-articles/list-articles.pug
                    //- commercial block (3x вложенность)
                    div(style='display:inline-block; word-spacing: 0; padding-top: 5px; padding-bottom: 5px')
                      table(width='300px' height='246px;')
                        tr 
                          td(bgcolor="#000000")
          tr
            td 
              //- кнопка full width
              table(width="100%" style='max-width: 600px' align="center" cellspacing="0" cellpadding="0")
                tr
                  td(style="padding-top: 30px; padding-bottom: 30px;")
                    a(href="#" width="100%" 
                      style=`display: block; border: 1px; border-color: #f5d434; border-style: solid; border-radius: 21px; 
                            text-decoration: none; text-align: center; color:#000000; font-size: 16px; line-height: 40px;
                            padding-left: 15px; padding-right: 15px;`
                    ) Explore more Thanksgiving recipes    
    tr
      td
        //- footer
        include ../components/footer/footer.pug