table(class='footer' width="100%" bgcolor='#f8f8f8' cellspacing="0" cellpadding="0"
  style="border-top-color: #e6e6e6; border-top-width: 1px; border-top-style: solid"
)
  tr 
    td(style='padding-left:10px; padding-right: 10px' align='center')
      table(width='100%' style='max-width:600px' cellspacing="0" cellpadding="0" border="0")
        //- paading top footer
        tr
          td(height="25px")
        tr 
          td(align="center")
            //- social links
            table(align="center" cellspacing="0" cellpadding="0")
              tr 
                td(width='20px' height="20px" style='padding-left: 3px; padding-right: 3px')
                  a(href='#' title='facebook')
                    //- img(src=require('Images/icon/fb-2x.png') width='20' height='20' alt='icon facebook')
                    img(src='https://raw.githubusercontent.com/pavllovic/email/main/src/images/icon/fb-2x.png' width='20' height='20' alt='icon facebook')
                td(width='20px' height="20px" style='padding-left: 3px; padding-right: 3px')
                  a(href='#' title='pinterest')
                    //- img(src=require('Images/icon/pntr-2x.png') width='20' height='20' alt='icon pinterest')
                    img(src='https://raw.githubusercontent.com/pavllovic/email/main/src/images/icon/pntr-2x.png' width='20' height='20' alt='icon pinterest')
        tr 
          td 
            table(align="center" cellspacing="0" cellpadding="0" style='color: #c2c2c2; font-size: 11px;')
              tr
                td(style="text-align: center; padding-top: 10px; padding-bottom: 5px; ")
                  span(style='line-height: 24px;') You have received this email at 
                  a(href="mailto:bezsmysla@gmail.com" style="color: #44b5ec; line-height: 24px; padding-left:3px; padding-right:3px") bezsmysla@gmail.com
                  span(style='line-height: 24px;') in association with your TastyCookery membership.
              tr
                td(align="center")
                  table(class='footer-nav' align="center")
                    tr
                      td
                        a(href="#" style="color: #44b5ec; text-decoration: none; line-height: 24px;") TastyCookery.com
                      td
                        span(style="color: #44b5ec") |
                      td
                        a(href="#" style="color: #44b5ec; text-decoration: none; line-height: 24px;") Privacy Policy
                      td
                        span(style="color: #44b5ec") |
                      td
                        a(href="#" style="color: #44b5ec; text-decoration: none; line-height: 24px;") Contact Us
              tr
                td(style="text-align: center" valign='middle')
                  a(href="mailto:contact@tastycookery.com" style="color: #44b5ec; line-height: 18px") contact@tastycookery.com
              tr
                td(style="text-align: center")
                  p(style="line-height: 18px;"). 
                    Interactive95, 207 E Ohio, # 158, Chicago, IL 60611
              tr
                td(style="text-align: center" )
                  a(href="#" style="padding-left: 8px; padding-right: 8px; color: #44b5ec") Unsubscribe
        //- paading bottom footer
        tr
          td(height="10px")